<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <!-- Enable features -->
    <!-- Full list of features: https://www.ibm.com/support/knowledgecenter/en/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/rwlp_feat.html-->
    <featureManager>
        <feature>webProfile-7.0</feature>
        <feature>localConnector-1.0</feature><!--For Arquillian -->
        <feature>adminCenter-1.0</feature>
        <feature>mpOpenApi-1.0</feature>

    </featureManager>

    <!-- for admin center -->
    <administrator-role>
        <user>guest</user>
    </administrator-role>

    <quickStartSecurity userName="admin" userPassword="adminpwd"/>

    <!-- keystore and basicRegistry are used to improve startup-->
    <keyStore id="defaultKeyStore" password="0p3nL1b3ry"/>

    <basicRegistry id="basic" realm="ibm/api">
        <user name="guest" password="0p3nL1b3ry"/>
    </basicRegistry>

</server>
